.timeline-list {
  list-style: none;
  text-align: left;
  padding: 0;
  max-width: 450px;
  margin: 0 auto;
}

.timeline-item {
  padding: 15px 10px 15px 34px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border: 1px solid var(--gold);
  transition: 0.3s;
}

.timeline-item--done {
  text-decoration: line-through;
  opacity: 0.6;
}

.timeline-item--done::before {
  background: var(--gold);
}
